*, *:before, *:after {
  box-sizing: border-box;
}

body{
  background-color: #e5e5e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

.container {
  margin: 0 auto;
  width: 420px;
  height: 800px;
}

nav {
  margin: 1;
  width: 420px;
  height: 55px;
  background-color: #F8F8F8; /*F8F8F8*/
}

.Washington h1{
  line-height: normal;
  font-size: 34px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  color: #1A5B77;
  padding: px;
  padding-left: 20px;
  margin: 0px; /*adjust*/
}

.back_nav {
  padding-top: 0px;
  width: 100%;
  background-color: #F8F8F8;
}

.arrow-left { /*top left arrow is not following these styles*/
  width: 15%;
  display: inline-block;
  padding-left: 20px;
  color: #1A5B77;
}

.arrow {
  width: 15%;
  display: inline-block;
  padding-left: 55px;
  color: #1A5B77;
}

.arrow2 {

/*  background-image: url(images/baku_1.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 420px;
  height: 800px; */

  width: 15%;
  display: inline-block;
  padding-left: 20px;
  color: #1A5B77;
}

.fa-2x {
   font-size: 1.7em;
   vertical-align: middle;
}

.bus_name {
  width: 60%;
  display: inline-block;
  padding-left: 70px;
  color: #1A5B77;
  vertical-align: middle;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.centered2 {
  font-size: 20px;
  font-weight: regular;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  vertical-align:middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bus_number {
  width: 8%;
  display: inline-block;
  padding-left: 20px;
  color: #1A5B77;
  position: relative;
  vertical-align: middle;
}

.backheader {
  width: 8%;
  display: inline-block;
  padding-left: 0px;
  color: #1A5B77;
  position: relative;
  vertical-align: middle;
}

.box {
  position: relative;
  text-align: center;
  color: white;
  background-color: #1A5B77;
  border: 0px solid #;
  margin: 2px;
  width: 35px;
  height: 35px;
}

.box2 {
  position: relative;
  text-align: center;
  color: #1A5B77;
  /* background-color: #1A5B77; */
  border: 0px solid #;
  margin: 2px;
  width: 35px;
  height: 35px;
}

.arrivals {
  width: 100%;
  display: center;
  padding-left: 25px;
  padding-top: px;
  color: #1A5B77;
  border-bottom: 1px solid #3333336e;
}

.bus_time {
  width: 10%;
  display: inline-block;
  padding-left: 25px;
  color: #1A5B77;
  vertical-align: middle;
  font-size: 14px;
}

.map {
  width: 100%;
  border-bottom: 1px solid #3333336e;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0px;
  padding: 10px;
  position: relative;
}

.map:after {
  content: "Arriving Next";
  padding-top: 13px;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #1A5B77;
  z-index: 10;
  display: block;
  position: absolute;
  height: 15%;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #F8F8F8;
  opacity: .8;
}

.busy-bus-arrivals {
  padding-top: 0px;
  width: 100%;
  background-color: #F8F8F8;
}

.back_nav h5 {
  font-size: 18px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  color: #1A5B77;
  padding-bottom: 30px;
  padding-left: 40px;
  margin: 0px; /*adjust*/
  display: inline-block;
}

.location{
  border-bottom: 1px solid #3333336e;
  background-color: #f8f8f8;
}

.location3 {
  height: 35px;
  border-bottom: 1px solid #3333336e;
  background-color: #f8f8f8;

  align-vertical: center;
}

.location3 h4{
  font-size: 18px;
  font-weight: regular;
  font-family: 'Open Sans', sans-serif;
  padding-top: 13px;
  margin: 0px;
}

.location_oos {
  border-bottom: 1px solid #3333336e;
  background-color: #f8f8f8;
}


h1{
  line-height: 2%;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  display:block;
  margin-top: 12px;
}

h2{
  line-height: 1%;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  vertical-align: middle;
  text-align: center;
}

h3{
  line-height: 2%;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  vertical-align: middle;
  margin-top: 6px;
}

h4{
  line-height: 1%;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  /*display:inline-block;*/
}

h5{
  padding-left: 25px;
  padding-bottom: 0px; /*how can I move "back" up to line up with the arrow? */
  line-height: 1%;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  display:block-inline;
  font-color: #1A5B77;
  vertical-align: middle;
}

.arriving_next {
  height: 250px;
  overflow: scroll;
}

.arriving_next:hover {
  background-color: black;
}

.location2 img{
  padding-top: 0px;
  vertical-align: top;
}


.location:hover {
  background-color: #e6e6ff;
}
